@media (max-width: 700px) {
   .header_2 {
       display: none;
   }

   .content {
       width: 100%;
   }

   .block_1_content div:nth-child(2) {
       display: none;
   }

   .first_block {
       height: auto;
   }

   .block_1_content div p:nth-child(1) {
       margin-top: 70px;
       font-size: 2.5em;
   }

   .block_1_content div p {
       text-align: center;
       margin: 15px 15px;
   }

   .block_1_content div p:nth-child(2) {
       text-align: left;
       font-size: 1.2em;
   }

   .form1 {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }

   .form1 input {
       margin-top: 10px;
   }

/*-------------------------technologies-----------------------------*/

.tech__item {
    flex-direction: column;
    align-items: center;
}

.tech__item:nth-child(even) {
    flex-direction: column-reverse;
}

.tech__item img {
    width: 90%;
}

/*-------------------------partners-----------------------------*/

.partners input {
    max-width: 20%;
    width: 350px;
}

/*---------------------------dont find-------------------------------*/

   .dont_find {
       height: auto;
   }

   .dont_find p {
       width: auto;
       margin: 20px 20px;
   }

   .dont_find p:nth-child(1) {
       font-size: 1.7em;
       font-weight: bold;
   }

   .dont_find p:nth-child(2) {
    font-size: 1.4em;
}

/*---------------------------subscribe-------------------------------*/

   .subscribe div:nth-child(1) {
       display: none;
   }

   .subscribe form input {
       margin-top: 10px;
   }

   .subscribe__description {
       margin: 20px;
   }

   .subscribe {
       height: auto;
   }

   
/*----------------------------contacts--------------------------------*/

    .block__contacts {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    .block__contacts .icons {
        margin-top: 20px;
    }
}


@media only screen and (max-width: 967px) {
    .empty {
        height: 60px;
        background-color: #e6e6e6;
    }
}