body {
    font-family: 'Roboto', sans-serif;
}

main {
    height: 2000px;
}

.content {
    width: 1140px;
    margin: 0 auto;
}

/*---------------------------top_string-------------------------------*/

header {
    position: fixed;
    z-index: 999;
}

.header_2 {
    background-color: #e6e6e6;
    position: relative;
    top: 65px;
}

.top_string {
    display: flex;
    height: 65px;
}

.top_string div {
    width: 20%;
    border-right: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_string img {
    height: 65px;
    border-radius: 8px;
}

.top_string div:nth-last-child(1) {
    border-right: none;
}

.top_string div:nth-child(1) {
    border-right: none;
    box-shadow: 0 0 10px #666666;
}

.top_string div:nth-child(3) {
    width: 40%;
    color: #ff0000;
}

.top_string p {
    text-align: center;
    line-height: 0.2;
    font-size: 1.2em;
}

.top_string a {
    color: black;
    text-decoration: none;
}

.top_string a:hover {
    font-size: 1.07em;
    transition: 1.5s;
}

/*---------------------------first_block-------------------------------*/

.first_block {
    margin-top: 65px;
    display: flex;
    height: 700px;
    width: 100%;
    background-image: url(../img/background_first.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.first_block img {
    width: 100%;
}

.block_1_content {
    display: flex;
    height: 100%;
    align-items: center;
    color: white;
}

.block_1_content div:nth-child(1) {
    width: 55%;
}

.block_1_content div:nth-child(2) {
    width: 45%;
}

.block_1_content p {
    font-size: 1.6em;
    color: #aeaeae;
}

.first_block input[type="tel"] {
    width: 230px;
    height: 52px;
    border-radius: 7px;
    padding-left: 15px;
    margin-right: 20px;
    border: 0;
    font-size: 1.2em;
}

.first_block input[type='submit'] {
    width: 300px;
    height: 52px;
    border: 0;
    background-color: #ffea00;
    border-radius: 7px;
    font-size: 1.1em;
    cursor: pointer;
}

.first_block p:nth-child(1) {
    font-size: 3.3em;
    margin-bottom: 50px;
    color: white;
}

.first_block form {
    margin-top: 50px;
}

.first_block form p {
    font-size: 0.8em;
    margin-top: 10px;
    line-height: 1;
}

/*---------------------------dont find-------------------------------*/

.dont_find {
    height: 470px;
    border: 0;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
}

.dont_find p {
    width: 800px;
    text-align: center;
    margin: 0 auto;
}

.dont_find p:nth-child(1) {
    font-size: 3em;
    margin: 100px auto 40px auto
}

.dont_find p:nth-child(2) {
    font-size: 1.5em;
    line-height: 1.5em;
}

.dont_find span {
    color: blue;
}

